.messagingBody {
  height: 600px;
  overflow: auto;
  padding-left: rem(24px);
  padding-right: rem(24px);
  padding-bottom: rem(24px);
  font-family: inherit;
  background: rgb(252, 251, 254);
}

.conversationStartTimeText,
.conversationEndTimeText,
.loadingText {
  color: rgb(98 91 91);
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  margin-top: rem(26px);
  margin-bottom: rem(26px);
}

.conversationEntriesListView {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}
