.messagingHeader {
  position: relative;
  height: 60px;
  background-color: #d0d7e5;
  border-radius: 29px 29px 0px 0px;
  font-family: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: rem(40px);
  padding-right: rem(20px);
  font-weight: 600;
}

.messagingHeaderCloseButton {
  position: absolute;
  height: 50px;
  right: rem(20px);
  transform: translate(-50%, 0%);
  background: transparent;
  border: none;
  pointer-events: all;
  cursor: pointer;
}

.messagingHeaderCloseButtonIcon {
  transform: scale(2);
  fill: whitesmoke;
}

.messagingHeaderCloseButtonIcon:hover {
  opacity: 0.5;
  transform: scale(2);
}

.messagingFloatingButton {
  cursor: pointer;
}

.messagingFloatingButton:hover {
  opacity: 0.95;
}
